cd {file} && s=$(mesa_status_run.py run_{file}.log -s log_L_lower_limit -dry) && rv=$(get_inlist_parameters.py inlist_1.0 -p Reimers_scaling_factor) && bv=$(get_inlist_parameters.py inlist_1.0 -p Blocker_scaling_factor) && n=$(echo "{file}" | sed "s/c//") && cd .. && sstat=($s) && echo "$bv $rv $sstat $n" >> grid_status_all.txt
